
body {
    font-size: 50px;
    line-height: 1.75;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: radial-gradient(circle at 40% top, rgb(197, 4, 117), rgb(81, 0, 128), rgb(12, 8, 54));
    
}
.background-img {
    background-image: url("../img/GSFC_20171208_Archive_e001518~orig.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .6;
    z-index: -1; 
    filter:blur(4px)
}

main {
    text-align: center;
    justify-content: center;
    align-content: center;
    height: 85vh;
    min-width: 80vw;
    border-style: solid;
    border-color: white;
    margin: 50px;
    padding-top: 10%;
    padding-bottom: 10%;
    position: fixed;
}
q {
    display: flex;
    align-self: center;
    font-weight: 600;
    padding-left: 20%;
    padding-right: 20%

}
q::before {
    display: flex;
    content: "“";
    font-family: Lucida Console;
    font-size: 3em;
    line-height: 0%;
    align-self: flex-start;
    
}
main::after {
    display: flex;
    content: " ” ";
    font-size: 3em;
    font-weight: 600;
    font-family: Lucida Console;
    line-height: 0%;
    align-self: flex-end;
    justify-self: flex-end;
    padding-right: 20%;
}
p {
    font-size: 20px;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10%;
}
@media (orientation: portrait) {
    div {
        height: auto;
        width: 100%
    }
    main {
        font-size: 0.66em;
    }
    
}